<!DOCTYPE html>
<html ng-app="ToDoListApp">
<head>
    <title>ToDo List (Task2)</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="todo.js"></script>
    <script>
    /*
    ###Задача 2 
    Создайте приложение с интерфейсом показанном в файле template.png. Файл находится в папке Task. 
    Напишите сервис, который после каждого изменения формы, будет создавать JSON обьект с новыми данными и отправлять на сервер. 
    Выведите подготовленный к отправке объект на экран.
    */


        // Модуль

        var ToDoListApp = angular.module("ToDoListApp", []);

        // Контроллер

        ToDoListApp.controller("ToDoListCtrl", ['$scope', 'calcExpr', function ($scope, calcExpr) {
            $scope.list = model;

            $scope.completed =false;

            $scope.addNewTask = function () {

                $scope.str = {
                    name: $scope.taskName,
                    description: $scope.description,
                    date: $scope.date,
                    completed: $scope.completed
                }

                $scope.result = calcExpr($scope.str);
                alert($scope.result);

                $scope.list.tasks.push($scope.str);

                $scope.taskName = "";
                $scope.description = "";
                $scope.date ="";
                $scope.completed =false;
            }

        }]); 

        ToDoListApp.factory('calcExpr', function () {
                return function (obj) {
                    return JSON.stringify(obj);
                };
            })

    </script>

</head>
<body ng-controller="ToDoListCtrl">

    <div class="container">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tr ng-repeat="task in list.tasks">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.date}}</td>
                <td>{{task.completed}}</td>
            </tr>
        </table>

        <div>
            <!-- Форма для добавления новых задач -->
            <form class="form-horizontal">
              <fieldset>

                <div class="form-group">
                  <label  class="col-lg-1 control-label">Name</label>
                  <div class="col-lg-11">
                    <input type="text" class="form-control" value="Football" ng-model="taskName">
                  </div>
                </div>

                <div class="form-group">
                  <label  class="col-lg-1 control-label">Due Date</label>
                  <div class="col-lg-11">
                    <input type="text" class="form-control" value="21.08.2016" ng-model="date">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-1 control-label">Description</label>
                  <div class="col-lg-11">
                    <textarea class="form-control" rows="3" ng-model="description" style="margin-top: 0px; margin-bottom: 0px;">Play football with friends</textarea>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="completed"> Completed
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default" ng-click="addNewTask()">ADD</button>
                  </div>
                </div>

              </fieldset>
            </form>


        </div>
    </div>
</body>
</html>
