<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <title>$anchor scroll</title>
    <script>
    /*
    ###Задача 1 
    Создайте страницу с произвольным количеством блоков текста с заголовками. Создайте список заголовков вверху страницы. Используя сервис $anchorScroll, реализуйте навигацию на странице.При нажатии на заголовок в списке вверху страницы, страница должна быть автоматически прокручена до блока текста с соответствующим заголовком. 
    */
        var app = angular.module('myApp', [])
        .controller('mainCtrl', function ($scope, $location, $anchorScroll) {

            $location.path("");

            $scope.itemCount = 80;

            $scope.items = [];

            for (var i = 0; i < $scope.itemCount; i++) {
                $scope.items[i] = "Item " + i;
            }

            $scope.show = function (id) {
                // Для того чтобы начать исопльзовать сервис $anchorScroll его достаточно просто определить как зависимость для контроллера. Экземпляр сервиса начинает мониторить изменения свойства $location.hash и выполняет скрол автоматически
                var hash = $location.hash(id);
            }

        })


    </script>
</head>
<body ng-controller="mainCtrl">

<div class="container">
<ol>
    <li><a href="" ng-click="show('first')">Интерес к Pokemon GO резко снизился</a></li>
    <li><a href="" ng-click="show('second')">Названы самые необычные виды транспорта будущего</a></li>
    <li><a href="" ng-click="show('third')">NASA установило контакт с давно потерянной в космосе станцией</a></li>
</ol>

<h2 id='first'>Интерес к Pokemon GO резко снизился</h2>
<span>Вышедшая в начале июля игра Pokemon GO всего за несколько недель стала невероятно популярной. О проекте говорили практически на каждом углу, а разработчики подсчитывали внушительные прибыли. Однако, если верить последним аналитическим отчётам, интерес игроков к Pokemon GO постепенно снижается. Причём это касается не только числа загрузок, но и времени, проводимого пользователями в приложении.

Эксперты связывают такое положение вещей с наличием ошибок в игре, активной кампанией, направленной на борьбу с читерами, и сезонным снижением спроса. 

Кроме этого, падение пользовательского интереса к Pokemon GO может быть вызвано тем, что многие игроки уже добились определённых результатов и сейчас ждут дальнейших нововведений.

Именно появление новых функций и покемонов должно снова повысить пользовательский интерес к проекту. Однако разработчикам не стоит забывать и о текущих проблемах и официальном запуске игры на новых рынках.</span>

<h2 id='second'>Названы самые необычные виды транспорта будущего</h2>
<span>Развитие технологий порождает все новые и новые идеи по развитию транспорта. Парящие над трафиком автобусы и скользящие в вакууме поезда – это лишь не многие из транспортных средств, которыми человечество, возможно, сможет воспользоваться в будущем. Об этом пишет The Guardian.

Автобусы не имеют репутацию общественного транспорта, благодаря которому можно успеть на работу. Однако китайские изобретатели придумали концепцию, благодаря которой проблема пробок в городах будет решена. Автобус помещен на, своего рода, «ходули», под которыми могут проезжать другие машины.

Концепция автобуса столь необычна, что многие критики обвинили создателей в мошенничестве. Впрочем, изобретатели оправдываются и утверждают, что ничего необычного не сделали. «Последние исследования показывают, что конструкция автобуса вполне возможно», — утверждает разработчик. Впрочем, критики неумолимы. Они утверждают, что дорожные просвет слишком мал, чтобы под этим транспортным средством проезжали грузовики, а сам автобус скорее не автобус, а поезд.

Еще одна необычная концепция предложена основателем SpaceX и Tesla Motors Илоном Маском. Так называемая Hyperloop, которая представляет собой вакуумную трубу, где поезда могут перемещаться со скоростью более 1 тыс. км в час. Если замысел будет воплощен, это будет означать, что люди могли бы путешествовать из Сан-Франциско в Лос-Анджелес всего за 30 минут. Однако критики неумолимы – они убеждены, что проект не может быть рентабельным.

Другой футуристический проект – это SkyTran, разработчики которого обещают скоростное транспортное средство, которое при этом будет очень дешевым в строительстве и эксплуатации. Автором проекта стал инженер НАСА. Он предложил концепцию подвесных алюминиевых капсул, которые будут перемещаться над городами со скоростью 250 км. в час. Строительство таких систем обойдется в 13 млн. долларов за 1,6 км, в то время как 1,6 км метро стоит около 160 млн долларов. Первые SkyTran должны появиться в Тель-Авиве (Израиль) и Лагосе (Нигерия).
Источник:  Новости Ю</span>

<h2 id='third'>NASA установило контакт с давно потерянной в космосе станцией</h2>
<span>Специалистам NASA удалось установить контакт с космическим аппаратом STEREO-B, связь с которым оборвалась в октябре 2014 года. Об этом сообщается на сайте космического агентства.

На протяжении 22 месяцев команда пробовала принять сигнал станции. Эффективной оказалась Сеть дальней космической связи (Deep Space Network) — международная сеть радиотелескопов и средств связи. 21 августа 2016 года контакт был восстановлен.

Сейчас агентство принимает уверенный сигнал от STEREO-B. В ближайших планах — проверка всех подсистем и восстановление полного контроля. Если космический аппарат будет полностью исправен, он может продолжить работу.

STEREO-B — одна из двух станций NASA, предназначенных для изучения солнечной активности. Аппараты запущены 26 октября 2006 года, сейчас они находятся на гелиоцентрической орбите.</span>
</div>

<hr>

    <p id="top">This is the top</p>
    <button class="btn btn-primary" ng-click="show('bottom')">
        Go to bottom
    </button>
    <p>
        <ul>
            <li ng-repeat="item in items">{{item}}</li>
        </ul>
    </p>
    <p id="bottom">This is the bottom</p>
    <button class="btn btn-primary" ng-click="show('top')">
        Go to TOP
    </button>

</body>
</html>